.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  background: #1a1a2e;
  animation: anim 4s infinite;
}

.image {
  width: 380px;
  height: 250px;
  margin-top: 30px;
  margin-bottom: 10px;
  position: relative;
  animation: animate 4s infinite;
}

@keyframes anim {
  0% {
    background: #1a1a2e;
  }
  25% {
    background: #16213e;
  }
  50% {
    background: #111;
  }
  75% {
    background: #16213e;
  }
  100% {
    background: #1a1a2e;
  }
}
@keyframes animate {
  0% {
    transform: scaleX(1);
    transform: scaleY(1);
  }
  50% {
    transform: scaleX(0.8);
    transform: scaleY(0.8);
  }
  100% {
    transform: scaleX(1);
    transform: scaleY(1);
  }
}

@media (max-width: 770px) {
  .image {
    margin-top: 10px;
  }
}
